<div class="button-container">
{% for button in include.buttons %}
  <a href="{{ button.button-link }}" class="btn btn-secondary text-uppercase js-scroll-trigger">{{button.button-text}}</a>
  <!-- <a href="#" class="button">Contact me</a> -->
  {% endfor %}
  <br>
</div>  

