<!-- Contact -->
  <section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.contact.title | markdownify | default: Contact Us }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.contact.text | default: "" }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- <form id="contactForm" action="https://formspree.io/{% if site.formspree_form_path %}{{ site.formspree_form_path }}{% else %}{{ site.email }}{% endif %}" novalidate="novalidate" method="POST"> -->
		  <form id="contactForm2" action="https://formspree.io/f/meqvowaq" method="POST">
		  <!--name="sentMessage"-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input name="name" class="form-control" id="name" type="text" placeholder="Name*" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input name="_replyto" class="form-control" id="email" type="email" placeholder="Email*" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
				<div class="g-recaptcha" data-sitekey="6LfzP7kaAAAAAEjRxMcHW9FIyyHjRTgvHPqGa2_o"></div>
                <!-- <div class="form-group"> -->
                  <!-- <input name="phone" class="form-control" id="phone" type="tel" placeholder="Phone Number" data-validation-required-message="Please enter your phone number."> -->
                  <!-- <p class="help-block text-danger"></p> -->
                <!-- </div> -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea name="message" class="form-control" id="message" placeholder="Message*" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
			  <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
              <div class="clearfix"></div>
			  
              <div class="col-lg-12 text-center">
                <div id="success"></div>
				
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
              </div>
			  <input type="text" name="_gotcha" style="display:none">
			  <input type="hidden" name="_next" value="#"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact -->