<br/>
<ul class="photo-gallery {% if include.column == "3" %}photo-gallery3x3{% elsif include.column=="4" %}photo-gallery4{% endif%}">
  {% for image in include.images %}
	{% if include.url == "true" %}
	<!-- <li>
		<picture>
		  <source type="image/webp" srcset="{ image.image_path }}.webp">
		  <source type="image/jpeg" srcset="{ image.image_path }}{{ image.extension }}">
		  <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
		</picture>
	</li> -->
	<li><img src="{{ image.image_path }}" alt="{{ image.title}}"/> <p>{{image.title}}</p> </li>
	{% elsif include.video == "true" %}
	<li>
		<video autoplay loop muted playsinline>
		  <source src="{{site.baseurl}}{{ image.image_path }}.webm" type="video/webm">
		  <source src="{{site.baseurl}}{{ image.image_path }}.mp4" type="video/mp4">
		</video>
	</li>
	{% else %}
	<li>
		<picture>
		  <source type="image/webp" srcset="{{site.baseurl}}{{ image.image_path }}.webp" alt="{{ image.title}}">
		  <source type="image/jpeg" srcset="{{site.baseurl}}{{ image.image_path }}{{ image.extension }}" alt="{{ image.title}}">
		  <img src="{{site.baseurl}}{{ image.image_path }}{{ image.extension }}" alt="{{ image.title}}"/>
		</picture>
		<p>{{image.title}}</p>
	</li>
    <!-- <li><img src="{{site.baseurl}}{{ image.image_path }}" alt="{{ image.title}}"/> <p>{{image.title}}</p> </li> -->
	<!-- <li><img src="{{site.baseurl}}{{ image.image_path }}.webp" alt="{{ image.title}}"/> <p>{{image.title}}</p> </li> -->
	{% endif %}
  {% endfor %}
</ul>
<br/>
