<!-- Team -->
<section class="page-section" id="{{ site.data.sitetext.team.section | default: "team" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.team.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
	</div>
  </div>
  <div class="row">
  {% for person in site.data.sitetext.team.people %}
	<div class="col">
	  <div class="team-member">
		<picture>
		  <source type="image/webp" srcset="{{ person.image }}.webp" alt="">
		  <source type="image/jpeg" srcset="{{ person.image }}.png" alt="">
		  <img class="mx-auto rounded-circle" src="{{ person.image }}.png" alt=""/>	
		</picture>
		<!-- <img class="mx-auto rounded-circle" src="{{ person.image }}.png" alt=""> -->
		<h4>{{ person.name }}</h4>
		<p class="text-muted">{{ person.role }}</p>
		<ul class="list-inline social-buttons">
		{% for network in person.social %}
		  <li class="list-inline-item">
			<a href="{{ network.url }}">
			  <i class="{{ network.icon }}"></i>
			</a>
		  </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  {% endfor %}
  </div>
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.team.subtext | markdownify }}</div>
	  <div class="large text-muted">{{ site.data.sitetext.team.subtext2 | markdownify }}</div>
	  <div class="large text-muted">{{ site.data.sitetext.team.subtext3 | markdownify }}</div>
	</div>
  </div>
</div>
</section>
<!-- End Team -->