// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  //background-image: url("#{$header-image}.png");
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  
}
.webp {
	.masthead{
		background-image: url("#{$header-image}.webp");
	}
}
.no-webp {
	.masthead{
		background-image: url("#{$header-image}.png");
	}
}
.no-js {
	.masthead{
		background-image: url("#{$header-image}.png");
	}
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 350px;
      padding-bottom: 150px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
